.carousel{
  width: 1000px;
  height: 3000px;
  margin-left: 180px;
  margin-top: 255px;
}
p{
  color: #000000;

}
h5{
  color: #000000;
}

body{
background-color: #F6E3D1;
}

.LOGO{
  height: 150px;
}
h1{
  background-color: #E0FFFF;
  text-align: center;
  font-family: century gothic;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #E0FFFF;
    border-radius: 6px;
    border: 2px solid white;
  }
