header,footer{
  background-color:#FF1493;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  color: #fff;
}
.centro{
  width:20%;
  margin-left:auto;
  margin-right: auto;
  display: block;}
  body{
    background-color:#D8BFD8
  }
  img{
    transition: all 0.5s linear;
  }
  img:hover{
    transform: scale(0.9);
    border-radius: 30px;}
    .main img{
      width: 20%;
    }
    .uno{
      width:350px;
      height: 350px;
      border:1px solid;
      float: left;
      text-align: center;}
      .dos{
        margin-left: 80px;
        margin-right: 80px;
      } 
