.Pasteleria ul{
  list-style: none;
}
.Menu > li {
  position: relative;
  display: inline-block;
}
.Pasteles{
  position: absolute;
  background: #333333;
}
.Pasteles li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: "open sans";
  text-decoration: none;
}
