img{
  height: 120px;
  width: 120px;
}
h1{
  text-align: center;
  background-color: pink;
  font-family: century gothic;
}
.row{
  margin-left: 0px;
}
body{
background-color: #D8BFD8;
}
a:hover{background-color: #FF1493}

aside{
  float:right;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #E0FFFF;
    border-radius: 6px;
    border: 2px solid white;
  }
