.carousel{
  width: 350px;
  height: 420px;
  margin-left: 85px;
  margin-top: 120px;
}
p{
  color: #000000;

}
h5{
  color: #000000;
}

body{
background-color: #F6E3D1;
}

.LOGO{
  height: 150px;
}
h1{
  background-color: pink;
  text-align: center;
  font-family: century gothic;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #E0FFFF;
    border-radius: 6px;
    border: 2px solid white;
  }
