header{
  background-color:#F99CC7;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
li{
  flex-grow: 1;
}
h1{
  font-family: century gothic;
  font-size: 45px;
  color: white;
}
h2{
  font-family: century gothic;
  font-size: 25px;
  color: white;
}
p{
  font size: 5;
  color:PURPLE;
  face:century gothic;
  text-align: center;
}
ul{
  list-style: none;
}
li{
  float: left;
}
.card1{
  background-color: #F8E5EE;
  margin-top: 20px;
  margin-left: 65px;
}
.LOGO{
  margin-bottom: 10PX;
}
body{
  background-color:#F8E5EE;
}
img{
  transition: all 0.5s linear;
  width:200;
  height:200;
}
img:hover{
  transform: scale(0.9);
  border-radius: 30px;
}
.container{
  height: 180vh;
}
  footer{
    background-color: #E2AEC7;
    font-family: century;


  }
  .container-body{
    display: flex;
  justify-content: center;
  padding: 20px;
  }
  .col1{
    max-width: 400px;
    margin-left: 50px;
    margin-right: 30px
  }

  .col2{
    max-width: 400px;
    margin-left: 50px;
    margin-right: 30px
  }
  .col3{
    max-width: 400px;
    margin-left: 30px;
    margin-right: 30px
  }
  .row{
    margin-top: 13px;
    margin-left: 30px;
    display: flex;
  }
  .icono{
    width: 35px;
    height: 35px;
  }
  label{
    font-size: 20px;
    font-family: century gothic;
    margin-left: 10px;
  }
  .fot{
    font-size: 28px
  }

  .text{
    font-size: 22px;
  }

  .back{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border-radius: 6px;
    margin-left: 10px;
    color: #FA0275;
    border: 1px solid white;
    text-decoration: none;
  }
  .back:hover{background-color: #FF1493}
