body{
  background-color:#f1d1d1;
}
.testbox{
  background-color: #ffa372;
  border: 2px solid red;
  padding: 15px;
  text-align: center;
  margin:20px auto;
  width: : 10px;
}
#texto{
  font:bold 30px Tahoma;
  width:100%;
}
img{
  height: 150px;
  width: 150px;
  image-orientation: center;
}
  img{
    transition: all 15s linear;
